/* Global Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #126b00;
    color: #126b00;
}
.images{
margin: 10px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.navBar {
    color: #353535; /* Dark grey */
}

.nav-item a.nav-link {
    color: #ffffff; /* Dark grey */
}

.nav-item a.nav-link:hover {
    color: #2bff00; /* Blue */
}

/* Padding */
.pad {
    padding: 10px;

}
.pad-title{
    color: #2bff00;
}
/* Box Styles */
.box {
    background-color: #ffffff; /* Light grey */
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

/* About Section */
.about {
    padding: 20px;
}

/* Progress Bar Styles */
.progress-bar {
    height: 20px;
    line-height: 20px;
    color: white;
    text-align: center;
    border-radius: 4px;
    background-color: #007bff; /* Blue */
}

/* Contact Info Styles */
.contact-info {
    text-align: left;
    font-weight: bold;
    font-size: larger;
    margin-top: 20px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
}

.contact-info a {
    color: #343a40; /* Dark grey */
    text-decoration: none;
    margin-left: 10px;
}

.contact-info a:hover {
    color: #126b00; /* Blue */
}
